body {
    background-color:black;
    font-family: arial;
    color:white
}

h1 {
    color:grey;
    font-family: verdana
}

.maindiv {
    background-color: white;
    color:black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin:auto;
}

.maindiv .subdiv{
    margin:auto;
    width: 300px;
}

mark {
    background-color: yellow;
    color: black;
}

#formentry {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 5px;
    column-gap: 10px;
}

#formentry label {
    grid-column: 1;
}

#formentry input {
    grid-column: 2;
}

#years {
    width: min-content;
}

#submitBtn {
    font-size: 18px;
}


